.navbar{
    background-color: black;
    color: white;
    
    

}
.card{
    margin-top: 20px;
    padding-top: 20px;

}
.col{
    border-image: space;
    background-color: black;
    
}
.h3{
    font-style: italic;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.fa{
    width: 25px;
    height: 30px;
    
}